<div class="header animated slideInDown">
	<h1>Projects</h1>
	<h2>Websites & hackathons</h2>
</div>

<div class="main">
	<div class="content">

		<h1 class="content-subhead">Websites</h1>

		<div class="website-title" layout="row" layout-xs="column" layout-sm="column">

			<a href="https://onehouseup.ca" target="_blank">
				<img class="img-responsive thumbnail bw" style="border: 2px solid #e8944f;" src="app/images/OneHouseUp.svg">
			</a>

			<a href="https://scarlettminshull.com" target="_blank">
				<img class="img-responsive thumbnail bw" src="app/images/sminshull.png">
			</a>

			<a href="https://supernova.skywatch.co" target="_blank">
				<img class="img-responsive thumbnail bw" src="app/images/SkyWatch.jpg">
			</a>
		</div>

		<h1 class="content-subhead">Hackathons</h1>

		<div class="desc hackathons animated fadeInUp">
			<h2>Hack the North 2016 Canada</h2>
			<img class="img-responsive" src="app/images/Hack-the-North.jpg">
			<h3>Project MoodSwing</h3>
			<p>Using angular, created a web application that monitors facial expressions of a user and plays music according to the user's mood.</p>
		</div>

	</div>
</div>