<div class="header animated slideInDown">
	<h1>Projects</h1>
	<h2>Websites, Certificates & Hackathons</h2>
</div>

<div class="main">
	<div class="content">

		<h1 class="content-subhead">Websites</h1>

		<div class="website-title" layout="row" layout-xs="column" layout-sm="column">
			
			<a href="http://leafii.com" target="_blank">
				<img class="img-responsive thumbnail-long bw" src="app/images/leafii.png">
			</a>

			<a href="http://clickmd.ca" target="_blank">
				<img class="img-responsive thumbnail-long bw" src="app/images/clickmd.png">
			</a>
			
			<a href="http://cminshull.com" target="_blank">
				<img class="img-responsive thumbnail bw" src="app/images/carterssite.png">
			</a>
		</div>

		<h1 class="content-subhead">Hackathons</h1>

		<div class="desc hackathons animated fadeInUp">
			<h2>Hack the North 2016 Canada</h2>
			<img class="img-responsive" src="app/images/Hack-the-North.jpg">
			<h3>Project MoodSwing</h3>
			<span>Skills Acquired: React.js</span>
			<p>Created a web application that monitors facial expressions of a user and plays music according to the user's mood.</p>
		</div>


		<h1 class="content-subhead">Certificates</h1>

		<div class="desc animated fadeInUp">
		    <img class="img-responsive" src="app/images/csHarvard.png">
		</div>



	</div>
</div>